/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Clearfixes
*******************************************************************************/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*******************************************************************************
Global Styling
*******************************************************************************/

.background {
	fill: none;
	pointer-events: all;
}

.district {
	fill: #ccc;
	cursor: pointer;
}
.district.active {
	fill: purple;
}

.district:hover {
	fill: orange;
}
.mesh {
	fill: none;
	stroke: #fff;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.district_no {
	fill: white;
	pointer-events: none;
}
.Republican {
	fill: red;
}
.Democratic {
	fill: blue;
}

html, body{
	height: 100%;
}

.top {
	height: 50px;
	width: 100%;
	background-color: black;
	position: absolute;
	z-index: 3;
}

#map {
	width: 68%;
	height: calc(100% - 50px);
	margin: 50px 0 0 0;
	background-color: #FF4E50;
	float: left;
	position: relative;
    z-index: 1;
}

#map svg {
	width: 100%;
	height: calc(100%-50);
}

#panel {
	position: absolute;
    top: -1024px;
    left: 16%;
    z-index: 2;
    background-color: #E1F5C4;
    width: 68%;
	height: calc(100% - 50px);
}

.column {
	width: 16%;
	height: calc(100% - 50px);
	margin: 50px 0 0 0;
	background-color: #FC913A;
	float: left;
	overflow: scroll;
}

.list-item {
	max-width: 100%;
	height: 20px;
	padding: 4px;
	background-color: #EDE574;
	font-family: "Helvetica Neue", Helvetica, Sans-serif;
	border-bottom: 2px solid black;
	text-align: center;
}

#close {
	width: 50px;
	height: 50px;
	background-color: #F9D423;
	position: absolute;
	top: 0;
	right: 0;

}

#portrait {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	margin: 10px auto;
	display: block;
}

.information {
	text-align: center;
}










