/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Clearfixes
*******************************************************************************/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*******************************************************************************
Map Styling
*******************************************************************************/
.btn {
  background: #d99734;
  background-image: -webkit-linear-gradient(top, #d99734, #b8572b);
  background-image: -moz-linear-gradient(top, #d99734, #b8572b);
  background-image: -ms-linear-gradient(top, #d99734, #b8572b);
  background-image: -o-linear-gradient(top, #d99734, #b8572b);
  background-image: linear-gradient(to bottom, #d99734, #b8572b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  margin:8px;
  float: right;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}

.background {
	fill: none;
	pointer-events: all;
}

.district {
	fill: #ccc;
	cursor: pointer;
}

.district.active.Republican {
	fill: #9A1919;
}

.district.active.Democratic {
	fill: #003399;
}

.district:hover {
	fill: #259325;
}
.mesh {
	fill: none;
	stroke: #fff;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.district_no {
	fill: white;
	pointer-events: none;
}
.Republican {
	fill: #CC0000;
}
.Democratic {
	fill: #0066CC;
}

.bill-item h2:hover {
	cursor: pointer;
	color: #259325;
}

/*******************************************************************************
Global Styling
*******************************************************************************/

html, body {
	height: 100%;
	font-family: "News Cycle","Arial Narrow Bold",sans-serif;
}

html {
	min-width: 1050px;
	min-height: 650px;
	position:relative;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4 {
	font-size: 0.85em;
}

.top {
	height: 50px;
	width: 100%;
	background-color: #FFFFFF;
	border-bottom: 1px solid #C7C7CC;
	position: absolute;
	z-index: 5;
}

.top img{
	width: 340px;
	height: 42px;
	margin: 5px;
}

#map {
	width: 68%;
	height: calc(100% - 50px);
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: #FF4E50;*/
	float: left;
	position: relative;
    z-index: 1;
}

#map h1 {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px 10px;
	font-family: "Times New Roman, Times, serif";
	font-size: 20px;
	z-index: 2;
}

#zoomOut {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 30px;
	margin-right: 270px;
	z-index: 2;
	visibility: hidden;
}

#zoomOut.active {
	cursor: pointer;
	visibility: visible;
}

.bold {
	font-size: 40px;
	font-weight: bold;
	float: right;
	line-height: 35px;
}

#map svg {
	width: 100%;
	/* height: calc(100% - 50px); */
	height: 100%;
	position: relative;
}

#panel {
	position: absolute;
	min-width: 680px;
    top: -1024px;
    left: 16%;
    z-index: 3;
    width: 68%;
	min-height: calc(100% - 50px);
	background-color: #FFFFFF;
}

.bills{
	width: 50%;
	/*height: calc(100% - 600px);*/
	float: left;
	text-align: center;
	overflow: scroll;
	height: 357px;

}

.bills .title {
	margin-bottom: 10px;
	border-bottom: 1px solid #C7C7CC;
	width: 200px;
	margin: 0 auto 10px;
}

.column {
	width: 16%;
	min-width: 163px;
	height: calc(100% - 50px);
	margin: 50px 0 0 0;
	/*background-color: #FC913A;*/
	float: left;
	overflow: scroll;
}

#republican-list {
	float: right;
}

.list-item {
	max-width: 100%;
	height: 20px;
	padding: 8px;
	border-bottom: 1px solid #C7C7CC;
	font-size: 14px;
}

.list-item:hover{
	cursor: pointer;
	background: #D7DBDB;
}

#bill-panel {
	position: absolute;
    top: -1024px;
    left: 16%;
    z-index: 4;
    background-color: #FFFFFF;
    width: 68%;
	height: calc(100% - 50px);
	position:absolute;
}

.dateContainer {
	width: 200px;
	/*margin-left: 8px;
	margin-top: 5px;*/
	background: #CC5200;
	text-align: center;
	float: left;
}

.dateContainer:hover {
	background: #FF9933;
	cursor: pointer;
}

#firstContainer { 
	position: absolute;
	top: 5px; 
	left: 8px;
}

#lowerContainer {
	position: absolute;
	top: 5px;
	left: 216px;
}

#upperContainer {
	position: absolute;
	top: 80px;
	left: 216px;
}

#signedContainer {
	position: absolute;
	top: 5px;
	left: 424px;
}

.timeline {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	height: 150px;
	width: 630px;
	position: relative;
}

#firstContainer, #signedContainer {
	height: 140px;
}

#lowerContainer, #upperContainer {
	height: 65px;
}

.passed .dateContainer {
	background: #D67533;
}

#first, #signed {
	font-size: 1.3em;
	margin-top: 5px;
	height: 30px;
}

#lower, #upper {
	margin-top: 5px;
	font-size: 1.3em;
}

.actionDate {
	margin: auto;
	color: white;
}

.passed .actionDate{
	color: black;
}

.date {
	color: white;
	margin: auto;
}

#firstDate {
	margin-top: 7px;
}

#signedDate {
	margin-top: 26px;
}

#lowerDate, #upperDate {
	margin-top: 7px;
}

#billTexts, #bill-summary {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 15px;
}

#billTexts, .billTextLink {
	float: left;
	clear: left;
}

#bill-summary {
	float: left;
	text-align: left;
	width: 500px;
}

.close img{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
}

#portraitContainer {
	width: 125px;
	height: 125px;
	border-radius: 90px;
	border-style: solid;
	border-width: 6px;
	margin: 7px auto;
	display: block;
	overflow: hidden;
}
/*
#portrait {
	width: 150px;
	height: 150px;
}
*/

.information {
	height: 90px;
	text-align: center;
}

.information #name{
	border-bottom: 1px solid #BDBDBD;
    margin: 0 auto;
    text-transform: uppercase;
    width: 450px;
}

.information #party {
	margin: 4px 0;
}

.information #address{
	margin: 3px 0;
}

.information #bill-id {
	font-size: 2.8em;
	width: 200px;
	margin: 15px auto;
	border-bottom: 1px solid #C7C7CC;
}

.information #description {
	margin: 10px;
}

.republican-district-num {
	float: left;
	text-align: left;
}

.republican-representative-name {
	float: right;
	text-align: right;
}

.democrat-district-num {
	float: right;
	text-align: right;
}

.democrat-representative-name {
	float: left;
	text-align: left;
}

.bill-item {
	margin: 8px 0;
}

.bill-item h2:hover {
	cursor: pointer;
	color: blue;
}

.close {
	cursor: pointer;
}